﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="4a.master.cs" Inherits="WebForms2SPA._4a._4a" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
  <title></title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  <link href="style.css" rel="stylesheet" />  
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body>
  <form id="form1" runat="server">

    <telerik:RadScriptManager runat="server" id="scriptMgr"></telerik:RadScriptManager>

    <div class="container" role="main">

      <div class="jumbotron">
        <h2><%: Page.Title %></h2>
      </div>

      <asp:ContentPlaceHolder ID="bodyContent" runat="server">
      </asp:ContentPlaceHolder>

    </div>

  </form>

    <footer >&copy;2014 WebForms SPA Limited</footer>

</body>
</html>
