﻿<%@ Page Title="Board Game Inventory" Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="WebForms2SPA._4a.Default" MasterPageFile="~/4a/4a.Master" %>


<asp:Content runat="server" ContentPlaceHolderID="bodyContent">

  
  <telerik:RadGrid runat="server" ID="grid" AllowSorting="true" 
    RenderMode="Auto">
    <ClientSettings AllowColumnsReorder="true"></ClientSettings>
    <MasterTableView SelectMethod="Get"></MasterTableView>
  </telerik:RadGrid>

  <%-- 

    NOTE: This demo could be much cooler 

















    with an AJAX refresh... 





    Just Sayin....


    --%>

</asp:Content>
