﻿html, body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

form, footer {
  position: absolute;
  overflow: hidden;
  width: 100%;
  left: 0;
  right: 0;
}

form {
  top: 0px;
  bottom: 50px;
  padding: 5px;
}

footer {
  background-color: #000;
  color: #EEE;
  text-align: center;
  font-size: small;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 50px;
  height: 50px;
  bottom: 0;
}
